/** custom fonts **/
@font-face { font-family: "atami"; src: url('https://github.com/xuethms/xuecodes/blob/f22990affbaae740e6d40ed7bd59eb43a8bda5f0/fonts/Atami-Regular.otf'); }

/** root variables **/

:root {
    --post-width: 500px;
    --tmblr-ctrl: 0%;
    --bg: #353030;
}

/** general stuff **/

/** scrollbar **/

::-webkit-scrollbar { width: 15px; }
::-webkit-scrollbar-track-piece { 
    background-color: var(--bg);
}  

::-webkit-scrollbar-thumb:vertical {
    border-radius: 100px;
    border-top: 4px solid var(--bg); 
    border-right: 4px solid var(--bg);
    border-bottom: 4px solid var(--bg);
    border-left: 4px solid var(--bg);
    background-color: #93826d;
}

/** text selection **/

::selection {
    color: #ffffff; /** text selection text **/
    background-color: #93826d; /** text selection bg **/
}

::-moz-selection {
    color: #ffffff; /** text selection text **/
    background-color: #93826d; /** text selection bg **/
}

::-webkit-selection {
    color: #ffffff; /** text selection text **/
    background-color: #93826d; /** text selection bg **/
}

/** hover tooltips **/

#s-m-t-tooltip {
    background-color: rgba(248,150,112,0.9);
    color: #fff;
    z-index: 10000000;
    max-width: 250px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: consolas;
    font-size: 9px;
    padding: 5px 9px;
    border-radius: 30px;
    margin: 15px 0 0 10px;
}

/** tumblr controls **/

.tctrl {
    background-color: #353030;
    color: #ffffff;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    font-size: 12px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 34px;
    border-radius: 5px;
    cursor: pointer;
}

.tctrl:hover iframe.tmblr-iframe, iframe.tmblr-iframe:hover {
    opacity: 1!important;
    padding-right: 35px!important;
}

iframe.tmblr-iframe {
    z-index: 50!important;
    top: 8px!important;
    right: -12px!important;
    padding-right: 25px;
    opacity: 0;
    transition: 0.6s;
    transform: scale(0.8,0.8);
    filter: invert(var(--tmblr-ctrl));
    -webkit-filter: invert(var(--tmblr-ctrl));
    -o-filter: invert(var(--tmblr-ctrl));
    -moz-filter: invert(var(--tmblr-ctrl));
    -ms-filter: invert(var(--tmblr-ctrl));
}


/** OKAY ONTO THE REST OF THE THEME STYLING! **/

body {
    background-color: #353030;
    background-attachment: fixed;
    margin: 0;
    word-wrap: break-word;
}

a { text-decoration:none; }
p { margin: 6px 0; }

#header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background-color: rgba(42,35,35,0.80);
    backdrop-filter: blur(9px);
    height: 70px;
    z-index: 1;
}

.headericon {
    height: 30px;
    width: 30px;
    margin: 16px;
    padding: 4px;
    border-radius: 5px;
    display: inline-block;
    float: left;
}

.headertitle {
    font-family: atami;
    font-size: 14px;
    letter-spacing: 2px;
    color: #fff;
    display: inline-block;
    line-height: 70px;
    cursor: default;
}

.blognav {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-family: atami, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    pointer-events: none;
    opacity: 0;
    height: 0;
}

.blognav-pg1 {
    height: 70px;
    opacity: 1;
    pointer-events: auto;
}

.blognav-link {
    color: #fff;
    display: inline-block;
    margin: 0 40px 10px 40px;
    height: 30px;
    line-height: 30px;
    transition: 0.6s;
    cursor: pointer;
}

.blognav-link::first-letter, #sf::first-letter {
    color: #ff957a;
}

.blognav-link:hover {
    color: #ff957a;
}

.linkslant {
    display: inline-block;
    width: 1px;
    height: 35px;
    transform: rotate(20deg);
    margin: 1px 0;
    background-color: #b3a697;
    position: absolute;
}

#sf {
    border: 0;
    outline: none;
    font-size: 14px;
    text-transform: lowercase;
    background-color: #353030;
    color: #fff; 
    letter-spacing: 2px; 
    padding: 8px 0 8px 8px;
    font-family: 'atami', sans-serif;
    width: 80px;
    height: 20px;
}

#sb {
    padding: 7px 8px 8px 4px;
    width: 14px;
    height: 15px;
    border-radius: 0 5px 5px 0;
    background-color: #353030;
}

/** sticky nav **/

.nav {
    position: absolute;
    width: 100%;
    inset: 0;
    text-align: center;
    font-family: atami, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    pointer-events: auto;
    opacity: 1;
    transition: 1.0s;
}

.nav-pg1 {
    opacity: 0;
    pointer-events: none;
}

.sticky {
    opacity: 1;
    pointer-events: auto;
}

.nav a {color: #b3a697;}

.navlink { 
    display:inline-block; 
    height: 26px;
    line-height: 26px;
    border-radius: 5px;
    padding: 0 10px;
    margin: 20px 10px;
    border: 2px solid transparent;
    transition: 1.0s;
    cursor:pointer;
}

.navlink-pg1 {
    margin: 20px 20px;
}

.stickyii {
    margin: 20px 10px;
}

.navlink:hover {
    border: 2px solid #b3a697;
}


/** content **/

#content {
    width: 500px;
    margin: 80px 0 100px 0;
    color: #bdb9b9;
    font-family: ubuntu, sans-serif;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 50px;
}

.entry {
    width: 500px;
    margin-bottom: 100px;
    text-align: left;
    transition: 0.8s;
}

.entry:last-child {
    margin-bottom: 100px;
}

.entry-title {
    background-color: #f89670;
    color: #353030;
    padding: 16px;
    font-family: atami;
    font-size: 18px;
    border-radius: 5px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #f89670;
    background: linear-gradient(90deg, rgba(255,149,122,1) 0%, rgba(247,218,158,1) 100%);
    cursor: default;
}

.entry h2 {
    font-family: atami;
    font-size: 24px;
    color: #f89670;
}

.entry-body a {
    background-color: #373030;
    color: #fff;
    margin: 0 2px;
    padding: 3px 6px;
    border-radius: 5px;
}

.entry-body a:hover {
    background: linear-gradient(90deg, rgba(255,149,122,1) 0%, rgba(247,218,158,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
}

.entry-body b,strong {
    color: #f24550;
    font-weight: 400;
}

.entry-body i,em {
    color: #ffffff;
}

.entry-body img {
    max-width: 100%!important;
    height: auto!important;
    border-radius: 5px;
}

.entry-body ul {
    list-style-type: square;
}

.entry-body ol {
    list-style-type: lower-roman;
}

/** un nest captions **/

.caption-wrap {
    border-left: 0 solid transparent;
    background-color: #2a2323;
    margin: 10px 0 0 0;
    border-radius: 5px;
    padding: 26px;
}

.caption-wrap:last-child {
    border-bottom: 1px solid transparent;
    margin-bottom: 0;
}

a.tumblr_blog {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px 0 0;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 1000;
    font-family: atami;
    color: #f8d3c3;
    text-transform: uppercase;
    background-color: transparent;
    transition: 0.2s;
    background: linear-gradient(90deg, rgba(255,149,122,1) 0%, rgba(247,218,158,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.caption-ava {
    width: 48px;
    height: 48px;
    border-radius: 3px!important;
    position: absolute;
    margin: -7px -98px;
    background-color: #93826d;
}

a.tumblr_blog::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 3px 0 0 0;
    z-index: -1;
    transform: rotate(-45deg);
    background-color: #2a2323;
    position: absolute;
    margin: 10px -33px;
}

.entry-body blockquote blockquote, .applepie blockquote {
    border-left: 1px solid #f89670;
    padding-left: 15px;
    margin: 5px 0 5px 13px;
}

/** photos and photosets **/

.entry-photo {
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
}

[photoset-layout] {
  border-radius: 5px;
  grid-gap: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

[photoset-layout] div {
  cursor: pointer;
}

[photoset-layout] img {
  border-radius: 0;
}

/** photoset lightbox - thanks @shythemes! **/

.tmblr-lightbox, #tumblr_lightbox {
    background: rgba(53,48,48, 0.5) !important; 
    backdrop-filter: blur(3px)!important;
    z-index: 500!important;
}

#vignette, .vignette {
    opacity: 0!important;
}

.lightbox-image, #tumblr_lightbox img {
    box-shadow: none !important;
    border-radius: 0 !important;
    max-width: none;
}

.entry-vid {
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
}

/** answer posts **/

.entry-ask-ic {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    margin: 10px -72px;
    position: absolute;
}

.entry-ask-name {
    font-family: atami, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 24px;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 1000;
    color: #353030;
    text-transform: uppercase;
    transition: 0.2s;
}

.entry-ask-name a {
    padding: 4px 6px;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.5);
    color: #353030;
    margin-right: 5px;
}

.entry-ask-qn {
    font-family: ubuntu, sans-serif;
    font-size: 12px;
    line-height: 22px;
    width: calc ( var(--post-width) - 40px);
    border-radius: 5px;
    padding: 26px 26px 20px 26px;
    color: #353030;
    background-color: #f89670;
    background: linear-gradient(90deg, rgba(255,149,122,1) 0%, rgba(247,218,158,1) 100%);
}

.entry-ask-tri {
    position: absolute;
    background: #ff957a;
    z-index: -1;
    width: 14px;
    height: 14px;
    margin: 27px -7px;
    border-radius: 3px 0 0 0;
    transform: rotate(-45deg);
}

.entry-answer .caption-wrap {
    padding: 26px;
    margin-top: 10px;
}

/** chat posts **/

.entry-chatline {
    border-radius: 5px;
    line-height: 16px;
    font-size: 14px;
    width: 390px;
    padding: 15px;
    background-color: #f89670; 
    color: #2a2323;
    margin: 0 0 10px 10px;
}

.even .entry-chatline {
    margin: 0 0 10px 70px;
    background-color: #f8cfbe;
    color: #2a2323;
}

.entry-chatlinetri {
    width: 15px;
    height: 15px;
    background-color: #f89670; 
    transform: rotate(45deg);
    position: absolute;
    margin: 3px -22px;
    border-radius: 0 0 0 3px;
}

.even .entry-chatlinetri {
    margin: 3px 397px;
    background-color: #f8cfbe;
    border-radius: 0 3px 0 0;
}

.entry-chatname {
    font-family: atami;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    margin: 0 10px 0 5px;
}

/** audio posts **/

.albartholder {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.noalbart {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    background-color: #eaeaea;
    color: #aaa;
    line-height: 120px;
    font-family: ubuntu, sans-serif;
    font-size: 11px;
    text-align: center;
}

.albartimg {
    width: 120px;
    height: 120px;
    border-radius: 5px 0 0 5px;
    margin-top: 0;
    position: absolute;
    margin-top: -120px;
}

.audplayer {
    overflow: hidden;
    height: 30px;
    width: 32px;
    padding-top: 2px;
    background-color: #f2f2f2;
    border-radius: 5px;
    position: absolute;
    margin: 44px;
    z-index: 10;
    opacity: 0.4;
    transition: 0.6s;
}

.entry:hover .audplayer {
    opacity: 1.0;
}

.audtextholder {
    width: 380px;
    height: 120px;
    position: absolute;
    margin: 0 0 0 120px;
    border-radius: 0 5px 5px 0;
    background-color: #2a2323;
}

.audtext {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.audtrack {
    font-family: atami, sans-serif;
    font-size: 18px;
    color: #f24550;
}

.audartist {
    font-family: ubuntu, sans-serif;
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
    color: #bdb9b9;
}

/** link post **/

.entry-link {
    cursor: pointer;
    transition: 0.8s;
}

.entry-link:hover {
    letter-spacing: 3px;
}

.linkthumb {
    display: block;
    width: 500px;
    border-radius: 5px 5px 0 0;
}

.linkexc {
    padding: 26px;
    background-color: #2a2323;
    border-radius: 0 0 5px 5px;
}

/** pagination **/

#pagination {
    width: 500px;
    text-align: center;
    font-family: atami;
    font-size: 14px;
    letter-spacing: 2px;
    height: 26px;
    line-height: 26px;
}

.current_page {
    font-size: 20px;
    color: #fff;
    margin: 0 15px;
}

.jump_page {
    color: #7d7575;
    margin: 0 8px;
    transition: 0.8s;
    padding: 4px;
}

.jump_page:hover {
    font-size: 20px;
    color: #f89670;
}

.pagu {
    display: inline-block;
    text-transform: lowercase;
    float: left;
    color: #b3a697;
    font-size: 11px;
    height: 26px;
    line-height: 26px;
    border-radius: 5px;
    padding: 0 10px;
    border: 2px solid transparent;
    transition: 1.0s;
}

.pagu2 { float: right; }

.pagu:hover {
    border: 2px solid #b3a697;
}

/** permalink **/

.postperma {
    width: 448px;
    margin-top: 10px;
    background-color: #2f2929;
    border-radius: 5px;
    text-align: left;
    padding: 16px 26px;
}

.postperma a {
    color: #93826d;
}

.postperma b {
    font-weight: 400;
    color: #b3a697;
    background-color: #2a2323;
    padding: 4px 5px;
    border-radius: 5px;
    margin: 0 2px;
    transition: 0.6s;
}

.postperma b:hover {
    color: #f89670;
}

.postactions {
    width: 91px;
    margin-left: 357px;
    float: right;
    position: absolute;
}

.postactions-ic, .ppg-icon {
    float: right;
    margin-left: 5px;
    border-radius: 5px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    transition: 1.0s;
    cursor: pointer;
    background-color: #2a2323;
    border: 1px solid #2a2323;
}

.tagsbox {
    width: 500px;
    margin-top: 0;
    text-align: center;
    opacity: 0;
    height: 0;
    transition: 1.0s;
    pointer-events: none;
}

.tagsbox-revealed {
    opacity: 1;
    height: 50px;
    margin-top: 10px;
    pointer-events: auto;
}

.tagsbox-tag {
    color: #93826d;
    margin: 0 4px;
    display: inline-block;
    width: auto;
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: 1.0s;
    padding: 0 5px;
    border-radius: 5px;
}

.tagsbox-tag:hover {
    color: #f89670;
    background-color: #2f2929;
}

.hiddenpaic {
    position: absolute;
    z-index: 1;
    margin: 0 62px;
    pointer-events: none;
    opacity: 0;
    transition: 1.0s;
}

.showpaic {
    opacity: 1;
    pointer-events: auto;
}

/** permalink page **/

.ppg-icon {
    float: left;
    margin: 0 10px 0 -2px;
}

.ppg-tags {
    margin-top: 10px;
    width: 500px;
    text-align: center;
}

.ppg-tags a {
    color: #93826d;
    margin: 0 4px;
    display: inline-block;
    white-space: nowrap;
    transition: 1.0s;
    padding: 0 5px;
    border-radius: 5px;
    transition: 0.8s;
}

.ppg-tags a:hover {
    background-color: #2f2929;
}

.ppgsrc {
    position: absolute;
    width: 110px;
    margin-top: 12px;
    margin-left: 370px;
}

.ppg-rbgicon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    display: inline-block;
}

/** note container **/

.applepie {
    margin-top: 100px;
    line-height: 30px;
    width: 500px;
    font-family: ubuntu, sans-serif;
    font-size: 12px;
    text-align: left;
}

.applepie a {
    color: #b3a697;
    transition: 0.6s;
}

.applepie a:hover {
    color: #f89670;
}
 
.notes li {
    font-family: ubuntu, sans-serif;
    padding: 5px 0 5px 80px;
    margin-bottom: 2px;
    margin-left: -40px;
}
 
.notes img {
    float: left;
    width: 24px;
    height: 24px;
    position: absolute;
    margin-top: 5px;
    margin-left: -45px;
    border-radius: 5px;
}
 
ol.notes {
    width: var(--post-width);
    list-style-type: none;
}


/** footer **/

#footster {
    width: 100%;
    height: 148px;
    background-color: #2a2323;
    z-index: 2;
    position: relative;
    margin-top: 100px;
    padding: 26px 0;
}

.itshim {
    position: absolute;
    z-index: 1;
    right: 30px;
    animation-name: him-move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes him-move {
    0% { margin-top: -300px; }
    50% { margin-top: -320px; }
    100% { margin-top: -300px; }
}

.heee {width: 200px;}

.itshim:hover { animation-play-state: paused; }

.ftcol {
    width: 250px;
    height: 158px;
    display: inline-block;
    margin: 0 20px;
    font-family: ubuntu, sans-serif;
    font-size: 12px;
    float : left;
}

.ftcol-header {
    font-family: atami, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #f89670;
    color: #93826d;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.ftcol-content {
    font-size: 11px;
    color: #93826d;
    text-align: right;
    line-height: 17px;
}

.ftcol-nav {
    width: 102px;
    margin-right: 5px;
    padding: 5px 9px;
    border: 1px solid #1f1a1a;
    background-color: #1f1a1a;
    border-radius: 5px;
    color: #93826d;
    float: left;
    margin-bottom: 5px;
    transition: 0.6s;
    cursor: pointer;
}

.ftcol-nav-icon {
    display: inline-block;
    float: left;
}

.ftcol-nav:hover {
    border: 1px solid #93826d;
    background-color: #2a2323;
}

.ftcol-content a { color: #93826d; }

/** terms of use pop-up **/

.tou-main {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    z-index: 100!important;
    transition: 1.0s;
}

.show-tou {
    pointer-events: auto;
    opacity: 1;
}

.tou-screen {
    background: rgba(53,48,48, 0.5) !important; 
    backdrop-filter: blur(5px)!important;
    z-index: 101!important;
    width: 100%;
    height: 100%;
}

.tou-window {
    width: 500px;
    position: relative;
    margin: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #2a2323;
    padding: 26px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.tou-header {
    text-align: center;
    font-family: atami, sans-serif;
    font-size: 14px;
    color: #f89670;
    letter-spacing: 2px;
    border-bottom: 1px solid #f89670;
    padding-bottoM: 20px;
    text-transform: uppercase;
}

.tou-col {
    width: 223px;
    padding: 10px;
    margin-top: 15px;
    display: inline-block;
    border-radius: 5px;
    background-color: red;
    height: 94px;
}

.tou-rbheader {
    font-family: atami, sans-serif;
    font-size: 12px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.tou-rule {
    padding-left: 35px;
    width: 188px;
    font-family: ubuntu, sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
}

.tou-rule .lnr {
    margin: -1px 0 0 -25px;
    font-size: 16px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    position: absolute;
}

.doyouagree {
    font-family: ubuntu;
    font-size: 14px;
    text-align: left;
    margin-top: 15px;
    border-radius: 5px;
    padding: 0 0 0 54px;
    height: 50px;
    line-height: 50px;
    color: #6c6666;
    transition: 0.9s;
    cursor: pointer;
    overflow: hidden;
}

.hide-agreed {
    opacity: 0;
    height: 0px;
}

.dya-check {
    position: relative;
    float: left;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 5px;
    color: #93826d;
    background-color: #353030;
    margin: 14px -40px;
    transition: 0.9s;
}

.dya-checkshort {
    position: absolute;
    margin: 9px 1px;
    height: 5px;
    border-radius: 5px;
    background-color: #7a9e5f;
    transform: rotate(45deg);
    width: 0px;
}

.dya-checklong {
    position: absolute;
    height: 5px;
    border-radius: 5px;
    background-color: #7a9e5f;
    transform: rotate(-45deg);
    width: 0px;
    margin: 18px 11px;
}

.doyouagree:hover .dya-checkshort {
    width: 16px;
    margin: 14px -2px;
    transition: 0.3s;
}

.doyouagree:hover .dya-checklong {
    width: 30px;
    margin: 9px 5px;
    transition: 0.6s;
    transition-delay: 0.2s;
}

.doyouagree:hover {
    background-color: #353030;
    color: #b3a697;
}

.doyouagree:hover .dya-check {
    background-color: #433e3e;
}

.touexitbtn {
    position: absolute;
    margin: 10px 550px;
    width: 30px;
    height: 30px;
    background-color: #f89670;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

.touco {
    width: 500px;
    height: 110px;
    margin-top: 15px;
    font-family: ubuntu, sans-serif;
    font-size: 14px;
    text-align: center;
}

.tou-link {
    padding: 0 10px 0 40px;
    border-radius: 5px;
    background-color: #353030;
    margin-bottom: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: left;
    color: #93826d;
    font-family: ubuntu, sans-serif;
    font-size: 12px;
    width: 108px;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    transition: 0.6s;
    border: 1px solid #353030;
}

.tou-link .lnr {
    position: relative;
    display: inline-block;
    margin: 12px 10px 0 -27px;
    font-size: 16px;
    float: left;
}

.xuestuff {
    height: 160px;
    opacity: 1;
    overflow: hidden;
    transition: 1.0s;
    transition-delay: 1.0s;
    padding-top: 10px;
}

.hide-xuestuff {
    padding-top: 0;
    opacity: 0;
    height: 0;
}

.tou-linkbig {
    width: 478px;
    padding: 19px 0 19px 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #353030;
    color: #93826d;
    cursor: pointer;
    font-family: atami, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 1000;
    font-size: 14px;
    margin: 15px 0 8px 0;
    border: 1px solid #353030;
    transition: 0.6s;
}

.tou-linkbig .lnr {
    display: inline; 
    font-size: 22px;
    margin-right: 10px;
    position: absolute;
    margin: -2px -40px;
}

.tou-link:hover, .tou-linkbig:hover {
    background-color: #2a2323;
    border: 1px solid #b3a697;
    color: #b3a697;
}

/** wallpaper **/

.hwallpaper {
    margin-top: 70px;
    background-color: #93826d;
    background-image: url({image:wallpaper});
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 0;
    display: none;
}

.hwallpaper-pg1 {
    height: 300px;
    display: block;
    padding: 125px 0;
}

.wp-centre {
    position: relative;
    width: 1080px;
    opacity: 0;
    transition: 0.6s;
}

.hwallpaper:hover .wp-centre {
    opacity: 1;
}

.gwallpaper {
    margin-top: 70px;
    background-color: #93826d;
    background-image: url({image:wallpaper});
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 160px;
}

.gwallpaper-pg1 {
    display: none;
}

.iris {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    float: left;
    margin: 0 30px;
    background-color: #353030;
    opacity: 0.8;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    transition: 0.6s;
    cursor: default;
}


.iris-title {
    padding: 15px 0;
    height: 20px;
    line-height: 20px;
    font-family: atami, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #b3a697;
}

.iris-bar {
    width: 100%;
    height: 1px;
    background-color: #f89670;
    background: linear-gradient(90deg, rgba(255,149,122,1) 0%, rgba(247,218,158,1) 100%);
}

.thmviewer {
    width: 300px;
    height: 250px;
    overflow: hidden;
}

.thmcontainer {
    width: 900px;
    animation-name: thmviewer-move;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes thmviewer-move {
    0% { margin-left: 0px; }
    2% { margin-left: 0px; }
    31% { margin-left: 0px; }
    35% { margin-left: -300px; }
    64% { margin-left: -300px; }
    68% { margin-left: -600px; }
    98% { margin-left: -600px; }
    100% { margin-left: 0px; }
}

.iris:hover .thmcontainer {animation-play-state: paused;}

.thmft {
    width: 300px;
    float: left;
}

.thm-img {
    width: 300px;
    height: 142px;
}

.thm-inf {
    width: 300px;
    line-height: 24px;
    padding: 20px 0;
}

.thm-inf b {
    font-family: atami, sans-serif;
    font-size: 16px;
    letter-spacing: 8px;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(255,149,122,1) 0%, rgba(247,218,158,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.thm-inf a {
    font-family: ubuntu, sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    background-color: #2a2323;
    color: #b3a697;
    border: 1px solid #2a2323;
    padding: 3px 6px;
    border-radius: 5px;
    margin: 10px 2px;
    text-transform: lowercase;
    transition: 0.6s;
}

.thm-inf a:hover {
    border: 1px solid #f89670;
    color: #f89670;
}

.iris-upd {
    padding: 26px;
    text-align: left;
    font-family: ubuntu, sans-serif;
    font-size: 12px;
    color: #b3a697;
    line-height: 20px;
    height: 197px;
    border-radius: 0 0 5px 5px;
    width: 248px;
    overflow-y: auto;
}

.iris-upd b {
    padding: 4px 5px;
    border-radius: 5px;
    background-color: #2a2323;
    color: #93826d;
    font-weight: 400;
    font-family: atami;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 5px;
    line-height: 15px;
}

.iris-upd a {
    
}

.iris-abt {
    padding: 26px;
    font-family: ubuntu, sans-serif;
    font-size: 12px;
    color: #bdb9b9;
    line-height: 20px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    height: 197px;
}

.iris-abt b {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #f89670;
    font-style: italic;
    line-height: 30px;
}

.iris-pnda {
    margin: 20px 30px;
}

.iris-pndimg {
    width: 200px;
}

.hw-subt {
    width: 100%;
    text-align: center;
    font-family: atami, sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    position: absolute;
    margin: 370px 0;
    height: 20px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.8s;
}

.hw-subtt {
    background-color: rgba(255,255,255,0.3);
    opacity: 0.8;
    padding: 8px 12px;
    border-radius: 1000px;
}

.hwallpaper:hover .hw-subt {
    opacity: 0;
}

.iris:first-child {
    margin-top: -30px;
}

.iris { margin-top: 30px; transition-delay: 0.1s;}

.iris:last-child {
    transition-delay: 0.2s;
    margin-top: -30px; 
}

.hwallpaper:hover .iris {
    margin-top: 0;
}


.hwallpaper:hover .iris:hover {
    opacity: 1;
    margin-top: -10px;
}
